body {
  background-color: rgba(0,0,0,80);
  color: white;
  font-family: Helvetica, Ubuntu, Roboto, Calibro, Arial, sans-serif;
  text-align: center;
}
h1 {
  font-size: 5rem;
}
main p {
  font-size: 3.5rem;
}
footer p {
  font-size: 0.8rem;
  text-align: left;
}
