body {
  background-color: #333333;
  font-family: Helvetica, Ubuntu, Roboto, Calibro, Arial, sans-serif;
  text-align: center;
}
header {
  display: none;
}
header h1 {
  color: white;
  font-size: 5rem;
}
main,
.template-container {
  background-color: #333333;
  padding: 1rem 2rem;
}
main p {
  color: white;
  font-size: 3.5rem;
}
header, footer {
  background-color: #333333;
  padding: 0.1rem 0.6rem;
}
footer p {
  color: #999999;
  font-size: 0.8rem;
  text-align: left;
}
/*.text-outline {
  *
   * This trick with text-shadow provides a text outline
   * Ref: http://owumaro.github.io/text-stroke-generator/
   *
  text-shadow: rgb(102, 102, 102) 3px 0px 0px, rgb(102, 102, 102) 2.83487px 0.981584px 0px, rgb(102, 102, 102) 2.35766px 1.85511px 0px, rgb(102, 102, 102) 1.62091px 2.52441px 0px, rgb(102, 102, 102) 0.705713px 2.91581px 0px, rgb(102, 102, 102) -0.287171px 2.98622px 0px, rgb(102, 102, 102) -1.24844px 2.72789px 0px, rgb(102, 102, 102) -2.07227px 2.16926px 0px, rgb(102, 102, 102) -2.66798px 1.37182px 0px, rgb(102, 102, 102) -2.96998px 0.42336px 0px, rgb(102, 102, 102) -2.94502px -0.571704px 0px, rgb(102, 102, 102) -2.59586px -1.50383px 0px, rgb(102, 102, 102) -1.96093px -2.27041px 0px, rgb(102, 102, 102) -1.11013px -2.78704px 0px, rgb(102, 102, 102) -0.137119px -2.99686px 0px, rgb(102, 102, 102) 0.850987px -2.87677px 0px, rgb(102, 102, 102) 1.74541px -2.43999px 0px, rgb(102, 102, 102) 2.44769px -1.73459px 0px, rgb(102, 102, 102) 2.88051px -0.838247px 0px;
}*/
